header {
    padding: 20px 60px !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(29, 29, 32, 1); /* Ensure header background is visible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* High z-index to ensure it's above everything */
    color: white;
    opacity: 1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto !important;
    transition: transform 0.3s ease; /* Fixed missing 's' in transition */
}

/* multilanguage */
.translate-widget {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

/* Profile Dropdown */
.profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 10001; 
}

.profile-icon {
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    padding: 10px;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10002;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}

.profile-dropdown .dropdown-menu {
    display: none; /* Hides by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.profile-dropdown.open .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-text{
    text-align: center;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
